pkgbase = msp-flasher
	pkgdesc = Flasher for TI MSP430 processor
	pkgver = 1_03_15_00
	pkgrel = 1
	url = http://www.ti.com/tool/msp430-flasher
	install = msp-flasher.install
	arch = i686
	arch = x86_64
	license = GPL
	depends = elfutils
	depends = libmpc
	depends = zlib
	options = !strip
	options = !emptydirs
	options = !libtool
	options = staticlibs
	options = !upx
	source_i686 = http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSP430Flasher/1_03_15_00/exports/MSPFlasher-1_03_15_00-linux-x64-installer.zip
	source_i686 = msp-flasher.sh
	md5sums_i686 = 745cf89972fc02e488c758191cc14ff6
	md5sums_i686 = a3c04211e27f2f5f91e3b0b9b05f9e4b
	source_x86_64 = http://software-dl.ti.com/msp430/msp430_public_sw/mcu/msp430/MSP430Flasher/1_03_15_00/exports/MSPFlasher-1_03_15_00-linux-x64-installer.zip
	source_x86_64 = msp-flasher.sh
	md5sums_x86_64 = 2f7b60ee2c64feaa3d1b4d6d51566d9a
	md5sums_x86_64 = a3c04211e27f2f5f91e3b0b9b05f9e4b

pkgname = msp-flasher

